*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 13px;  
    font-family: 'Kumbh Sans', sans-serif;
}

body{
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    margin: 0 auto;
    max-width: 375px;
}

img{
    display: block;
}

details{
    color: hsl(240, 6%, 50%);
}

details summary { 
    cursor: pointer;
    display: block;
}
  
details summary > * {
    display: inline;
}

/* the rest is just for esthetics */
summary::after {
    display: block;
    content: url('./images/icon-arrow-down.svg');
    transition: 0.2s;
}
  
details[open] summary::after {
    transform: rotate(180deg);
}

details[open] summary{
    font-weight: bolder;
    color: hsl(237, 12%, 33%);
    transition: 0.5s;
}

.container{
    padding-bottom: 4rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.img-container{
    margin: 0 5rem;
    position: relative;
    bottom: -35px;  
    z-index: 1;
}

.img-stack{
    position: relative;
}

.header-image{
    content: url('./images/illustration-woman-online-mobile.svg');
    position: relative;
}
.middle-img-container{
    display: none;
}
.middle-image{
    content: url('./images/illustration-box-desktop.svg');
    visibility: hidden;
}
.bottom-image{
    content: url('./images/bg-pattern-mobile.svg');
    position: absolute;
    top: 110px;
}

.help-dropdown-container{
    margin: 0 1.7rem;
    padding: 8rem 2rem 2rem;
    position: relative;
    top: -37px;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 10px 29px black;
}

.heading{
    margin: 2rem 0;
    font-size: 2.5rem;
    color: hsl(237, 12%, 33%);
}

.details-container{
    padding-top: 0.5rem;
}

.details-tag{
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}

.summary-header{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

.summary-description{
    text-align: initial;
}

details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  
@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}

@media only screen and (min-width: 1031px) {
    body{
        max-width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .img-container{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: -55px;
        position: relative;
        left: -80px;
        bottom: 0px;
    }
    .img-stack{
        position: relative;
    }
    .header-image{
        content: url('./images/illustration-woman-online-desktop.svg');
        left: -4px;
        top: -185px;
        position: absolute;
        z-index: 3;
    }
    .middle-img-container{
        display: block;
        position: fixed;
        z-index: 10;
    }
    .middle-image{
        visibility: visible;
        position: absolute;
        top: -51px;
        left: -13px;
        z-index: 3;
    }
    .bottom-image{
        content: url('./images/bg-pattern-desktop.svg');
        position: absolute;
        right: -36rem;
        top: -42rem;
        z-index: 0;
        display: block;
    }
    .container{
        top: -101px;
        box-shadow: 7px 25px 38px -8px black;
        max-width: 920px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        padding: 3.5rem 0rem;
        position: relative;
        left: 20px;
        overflow-y: clip;
        overflow-x: clip;
    }
    .help-dropdown-container{
        margin: 0;
        margin-left: auto;
        position: static;
        padding: 1rem;
        text-align: left;
        width: 50%;
        box-shadow: none;
    }
    .details-container{
        max-width: 339px;
    }
    .heading{
        margin: 0;
        margin-bottom: 2rem;
    }
    .summary-header{
        font-size: 1.1rem;
    }
}